.desktop-nav {
  display: none;
}

.mobile-nav {
  display: block;
}

@media (min-width: 768px) {
  .desktop-nav {
    display: flex;
    align-items: center;
  }

  .mobile-nav {
    display: none;
  }
}

/* underline SOLO para nav links */
.desktop-nav ul button {
  position: relative;
}

.desktop-nav ul button::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #10b981; /* emerald */
  transition: width 0.25s ease;
}

.desktop-nav ul button:hover::after {
  width: 100%;
}
