.desktop-nav {
  display: none;
}

.mobile-nav {
  display: block;
}

@media (min-width: 768px) {
  .desktop-nav {
    display: flex;
    align-items: center;
  }

  .mobile-nav {
    display: none;
  }
}

.nav-link {
    text-decoration: none;
    font-weight: 700;
    font-size: 0.95rem;
    padding: 0.5rem 0;
    position: relative;
    transition: color 0.2s;
}



.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #10b981;;
    transition: width 0.3s;
}

.nav-link:hover::after {
    width: 100%;
}
